body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}
.section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.section img {
    max-width: 80%;
    height: auto;
}
.section-content {
    flex: 1;
    padding: 20px;
}
.section-content h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.section-content p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
}
.section-content ul {
    list-style: none;
    padding: 0;
}
.section-content ul li {
    margin-bottom: 10px;
}
.section-content ul li::before {
    content: "•";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
@media (max-width: 768px) {
    .section {
        flex-direction: column;
    }
}


.myfooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}
.colum {
    flex: 1;
    min-width: 200px;
    margin: 20px 10px;
    padding-top: 10px;
}
.colum h3 {
    border-bottom: 2px solid red;
    color: white;
    padding-bottom: 5px;
    padding: 5px;
}
.contact-para{
    color: white;
}
.colum ul {
    list-style: none;
    padding: 0;
}
.colum ul li {
    margin: 5px 0;
}
.colum ul li a {
    color: white;
    text-decoration: none;
}
.colum ul li a:hover {
    text-decoration: underline;
}

.contact-info i {
    margin-right: 10px;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin:  0;
    background-color: black;
}
.social-icons a {
    color: #fff;
    margin: 0 10px;
    ;
    font-size: 20px;
}
.footer-text {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: black;
}
.logo img {
    max-width: 100%;
}
.certifications img {
    max-width: 50px;
    margin: 5px;
}